body {
    font-family: Arial;
    margin: 40px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
}

table {
    margin-top: 20px;
    width: 80%;
}

.menu a {
    margin: 10px;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
}